<div class="card-body">
  <form action='/tweets' method="post">
    <div class="form-group">
      <label for="content">Content:</label>
      <input class="form-control" type="text" id="content" name="content" placeholder="Content">
    </div>
    <input class="btn btn-primary" type="submit" name="submit" id="submit">
  </form>
</div>