!DOCTYPE html 
<html>

<head></head>
<title>Fwitter</title>
<body>

<h1>Welcome, <%= @user.username %></h1><br>

<% @tweets.each do |tweet| %><br>
<%= tweet.content%>
<% end %>
</body>
</html>



