

<h1>Welcome, <%= @user.username %></h1><br>

<% @tweets.each do |tweet| %><br>
<%= tweet.content%>
<% end %>

<a href="/tweets/new"><button type="button">New Tweet</button></a>
<a href="/logout"><button type="button">Log Out</button></a>


