<h3>Login Below:</h3>

<form action="/login" method="POST">
  User Name: <input type="text" name="username" id="username">
  Password: <input type="password" name="password" id="password">
  <input type="submit" id="submit" value="Log In">
</form>