<h2>Login to Fwitter</h2>

<form method="POST" action="/login">
<p>Username: <input type="text" name="username"></p><br>
<p>Password: <input type="text" name="password"></p><br><br>
<input type="submit" name="submit" value="Login">
</form>
