<<<<<<< HEAD
<p> Your Tweets <%= @user.username %>
=======
<p> Here are your tweets, <%= @user.username %>
>>>>>>> 9cdfd480e506a6016dcba6205f412e53bfed4caf
<% @user.tweets.each do |tweet| %>
  <div>
    <%= tweet.content %>
  </div>
<% end %>